<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>WOD</title>
  <link rel="stylesheet" href="../../assets/css/style.css" >

</head>
{{template "header" .}}
<body>
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Workout</li>
</ul>
<form action="/workouts/wod" method="get">
  <br />
  <b><label id="hello" >Howdy Stranger!  You can <a href="/login">Login</a> or <a href="/signup">Signup</a> here</label></b>
  <br />
  <textarea id="woid"  name="woid" type="string" hidden="true" >{{ .wo.ID }}</textarea>
  <textarea id="uid" name="uid" type="string" hidden="true" >{{ .usr.ID }}</textarea>
  <br />
  <b>Name:</b>
  <br>
  <pre style="max-width:350px;word-wrap: break-word;margin-top:0; margin-bottom:0;white-space: pre-line;">{{ .wo.Name }}</pre>
  <br>
  <b>Strength:</b>
  <br>
  <pre style="max-width:350px;word-wrap: break-word;margin-top:0; margin-bottom:0;white-space: pre-line;">{{ .wo.Strength }}</pre>
  <br>
  <b>MetCon:</b>
  <br>
  <pre style="max-width:350px;word-wrap: break-word;margin-top:0; margin-bottom:0;white-space: pre-line;">{{ .wo.Conditioning }}</pre>
  <br>
  <b>Pace:</b>
  <pre style="max-width:350px;word-wrap: break-word;margin-top:0; margin-bottom:0;white-space: pre-line;">{{ .wo.Pace }}</pre>
  <br>
</form>
</body>
{{template "footer" .}}
</html>