<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>About Me</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
{{template "header" .}}
<body>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <!--li><a href="/login">Login</a></li-->
    <li><a href="/profile/userprofile">Profile</a></li>
    <li>About Me</li>
</ul>

<form action="/profile/aboutme" method="post">
    <h1>Your personal details</h1>
    <br>
    <a class="logo" href="/profile/goals">My Goals</a> | <a class="logo" href="/profile/personalrecords">My
    PRs</a><br><br>

    <b>About Me: </b><br>
    Name: <input type="text" name="name" value="{{ .Name}}"></input> <label id="namelbl"></label><br>
    Age: <label id="agelbl">{{ .Age}}</label><br>
    Birthday: <input type="text" name="bday" value="{{.Birthday}}"></textarea> <br>
    Weight: <input type="text" name="wgt" value="{{ .Weight}}"></textarea> <br>
    Sex: <input type="text" name="sex" value="{{ .Sex}}"></textarea> <br>
    About Me: <textarea name="abme" style="width:250px;height:150px;">{{ .About}}</textarea> <br>
    <input type="submit" value="Save" formmethod="post"/>
</form>
</body>
{{template "footer" .}}
</html>