<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Personal Records</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<h1 class="header">good advice</h1>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <!--li><a href="/login">Login</a></li-->
    <li><a href="/profile/userprofile">Profile</a></li>
    <li>Personal Records</li>
</ul>
<form action="/profile/goals">
    <h1> Review and Edit your PRs</h1>
    <br>
    <a class="logo" href="/profile/aboutme">About Me</a> | <a class="logo" href="/profile/goals">My Goals</a><br><br>

    <b>Personal Records: </b> <a href="/profile/personalrecords">Edit</a><br>
    <label id="prslbl" name="prslbl">Personal Records</label>
    <br>
    <div class="row">
        {{range $key, $value := .rec}}
        <form action="/profile/personalrecords" id="user{{.ID }}" name="user{{.ID }}" method="get" class="inline">
            <!--div class="column" style="background-color:#bbb;"-->
            <label id="prs{{ .ID }}" style="width:250px;height:150px;" id="prs{{ .ID }}" type="string">{{ .Movement }} :
                {{ .Weight }}{{ .Time }} set on: {{ .Date }}<a href="/profile/editpr?prid={{ .ID }}"> edit</a></label>
            <!--/div-->
        </form>
        {{end}}
    </div>
    <!--label id="prs" style="width:250px;height:150px;" id="prs" type="string" ><pre>{{ .Record}}</pre></label><br><br>
    <label id="prs1" style="width:250px;height:150px;" id="prs1" type="string" ><pre>{{ .Movement}} : {{ .Record}} set on: {{ .Date}}</pre></label><a href="/profile/editpr/{{ .ID}}"> edit</a><br><br-->
    <br><br><br>
    <form action="/profile/personalrecords" method="post">
        <div>
            <label id="addprslabel" name="addprslabel"><b>Add a new Record</b></label>
            <br>
            <b>Movement:</b>
            <br>
            <select id="prddl" name="prddl">
                {{range $value := .mov.Movements}}
                <option value="{{ $value }}">{{ $value }}</option>
                {{end}}
            </select>
            <br>
            <b>Time:</b>
            <br>
            Minutes:<input type="number" min="0" max="99" id="minutes" name="minutes" value="{{.UsrMinutes}}">
            <br>
            Seconds: <input type="number" min="0" max="59" id="seconds" name="seconds" value="{{.UsrSeconds}}">
            <br>
            <b>Date:</b>
            <br>
            <input type="date" data-date-inline-picker="true" id="prdate" name="prdate" value="{{ .Currentdate}}"/>
            <br>
            <b>Notes:</b>
            <br>
            <textarea id="prnotes" name="prnotes" style="width:150px;height:20px;"></textarea>
            <br>
            <input type="submit" value="Add Record">
        </div>
    </form>
</form>
</body>
</html>