<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movements</title>
    <link rel="stylesheet" href="../assets/css/style.css" >
</head>
<body>
<h1 class="header">good advice</h1>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin</a></li>
    <!--li><a href="/wod">WOD</a></li-->
    <li>Add Movement</li>
</ul>
    <form name="adminmovements" action="/admin" >
        <label id="descript1" name="am">Add Movement is for adding workout for a specific discipline. </label>
        <br>
        <label id="descript2" name="am">Users can then add PRs for this in their user profile</label>
        <br>
        <label id="amid" name="am">Add Movement</label>
        <br>
        <textarea id="movementid" name="movement" ></textarea>
        <br>
        <select name="movementtypes" id="movementtypesid">
            {{range $value := .Ddloptions}}
            <option value="{{$value}}">{{$value}}</option>
            {{end}}
        </select>
        <input type="submit" name="submit" id="movementsid" value="addmovement" formmethod="post">

        <div>
        {{range .MovementList}}
        <label id="{{.Movement}}" name="{{.MovementType}}">{{.Movement}} - {{.MovementType}}</label><br>
        {{end}}
        </div>
    </form>
</body>
</html>