<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Administration</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
{{template "header" .}}
<body>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Admin</li>
</ul>
<h2>Manage users</h2>
<ul>
    <li>User1</li>
    <li>User2</li>
    <li>User3</li>
</ul>
<main>
    <form action="/admin">
        <input type="submit" name="submit" id="users" value="users" formmethod="get">
        <input type="submit" name="submit" id="movements" value="movements" formmethod="get">
        <input type="submit" name="submit" id="workouts" value="workouts" formmethod="get">
        <br/><br/>
        <a class="logo" href="/wod">Workout of the Day</a>
        <br/><br/>
        <a class="logo" href="/addwod">Add Workout</a>
        <br/><br/>
        <a class="logo" href="/logout">Logout =(</a>
    </form>
</main>


<br/><br/>
<label id="msg" name="msg"><b>Version: {{.Version}} Installed: {{.VersionDate}}</b></label>
</body>
{{template "footer" .}}
</html>