<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WOD</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
{{template "header" .}}
<body>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Workout</li>
</ul>
<script>
    function submitform() {
        document.form1.submit();
    }
</script>
<form name="form1" id="form1" action="/wod" method="get">
    Click for <input type="submit" name="submitrandom" value="Random" formmethod="get"> workout!
    <br>
    <br>
    <b><label id="hello">{{.UsrGreeting}}, {{.UsrFirstname}}! </label>
        <br>
        <script type="text/javascript">
            var myDate = new Date();
            var myDay = myDate.getDay();
            // Array of days.
            var weekday = ['Sunday', 'Monday', 'Tuesday',
                'Wednesday', 'Thursday', 'Friday!!', 'Saturday'
            ];
            // get hour value.
            var hours = myDate.getHours();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12;
            var minutes = myDate.getMinutes();
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var myTime = hours + " :" + minutes + " " + ampm;
            document.write("It's " + myTime + " on " + weekday[myDay]);

        </script>
        <br>
        <label id="hello2">Let's get to work. </label></b>
    <br>
    <br>
    <b>Pick another day</b>:
    <br>
    <input type="date" data-date-inline-picker="true" id="date" name="date" value="{{.WoDate}}"
           onchange="submitform()"/>
    <br>
    <textarea id="woid" name="woid" type="string" hidden="true">{{.WoID}}</textarea>
    <textarea id="uid" name="uid" type="string" hidden="true">{{.UsrID}}</textarea>
    <br>
    </label>
    <b>Name:</b>
    <label name="name" id="name" type="string">
        <pre>{{.WoName}}</pre>
    </label>
    <b>Strength:</b>
    <label id="strength" style="width:250px;height:150px;" id="strength" type="string">
        <pre>{{.WoStrength}}</pre>
    </label>
    <b>MetCon:</b>
    <label style="width:250px;height:150px;" id="conditioning" name="conditioning" type="string">
        <pre>{{.WoConditioning}}</pre>
    </label>
    <b>Pace:</b>
    <label id="pace" name="pace" type="string">
        <pre>{{.WoPace}}</pre>
    </label>
    <b>MetCon Time:</b>
    <br>
    Minutes:<input type="number" min="0" max="99" name="minutes" value="{{.UsrMinutes}}">
    <br>
    Seconds: <input type="number" min="0" max="59" name="seconds" value="{{.UsrSeconds}}">
    <br>
    <br>
    <b>Check a box if you want</b>
    <br>
    Loved:<input type="checkbox" name="loved">
    Hated:<input type="checkbox" name="hated">
    <br>
    <br>
    <b>Notes:</b>
    <br>
    <textarea name="notes" style="width:225px;height:100px;" id="notes" type="string">{{.UsrNotes}}</textarea>
    <br>
    <input type="submit" value="Save Workout" name="savenotes" formaction="/wod" formmethod="post"/>
</form>
</body>
{{template "footer" .}}
</html>