<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Registry</title>
    <!--THIS ONE IS CORRECT link rel="stylesheet" href="../assets/css/style.css" -->
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
{{template "header" .}}
<body>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/parentpage">Admin</a></li>
    <li>Registry</li>
</ul>

</body>
{{template "footer" .}}
</html>