<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>TITLEVALUE</title>
    <!--THIS ONE IS CORRECT link rel="stylesheet" href="../assets/css/style.css" -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<header style="vert-align: middle;" class="header">
    <h1 class="header">good advice</h1>
    <button class="btn" onclick="location.href='/profile/userprofile';">Profile</button>
</header>
<body>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/parentpage">parentpage</a></li>
    <li>pageyouron</li>
</ul>

</body>
<footer>
    <div style="text-align: right">
        <button class="btn" onclick="location.href='/about';">About</button>
        <button class="btn" onclick="location.href='/messaging/suggestionbox';">Suggestion Box</button>
        <button class="btn" onclick="location.href='/logout';">Logout</button>
    </div>
    <div style="text-align: left">
        Disclaimer: This is not a real site with real coaches or real experience giving advice on anything.<br>
        Anything you do with information you found on this site you do of your own free will.<br>
        This site is solely designed to entertain it's creator.
    </div>
</footer>
</html>