{{define "footer"}}
<footer>
  <div style="text-align: center;">
    <button class="btn" onclick="location.href='/about';">About</button>
    <button class="btn" onclick="location.href='/messaging/suggestionbox';">Suggestion Box</button>
    <button class="btn" onclick="location.href='/logout';">Logout</button>
  </div>
  <div style="text-align: center">
    <br>
    <b>WARNING:</b> This is not a real advice site <b>:WARNING</b> <br>
    This site exists solely to entertain it's creator.<br>
    If you even slightly suspect you may need actual help you should talk to a medical professional immediately. <br>
    Anything you do with the information on this site you do it of your own free will.
  </div>
</footer>
{{end}}